h1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


img {
    width: 300px;
}

.card {
    border: 5px solid black;
    width: 300px;
    padding: 50px;
}

p {
    font-style: italic;
}